FALLBACK_LANGUAGE=en
JWT_SECRET=7f8a3c2b1e9d8c7b6a5f4e3d2c1b0a9f8e7d6c5b4a3f2e1d0c9b8a7f6e5d4c3b
#DB
DB_TYPE=mysql
DB_HOST=mysqldb
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=tutorial_db
